.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.product {
  overflow: hidden;
  border-radius: 16px;
  width: calc(25% - 8px);
  background-color: #f3f3f3c4;
}

.product__img {
  margin-bottom: 16px;
  height: 350px;
  overflow: hidden;
  border-radius: 16px;
}

.product__img img {
  height: 100%;
  object-fit: cover;
}

.product__name {
  font-weight: 600;
  margin-bottom: 32px;
  padding-left: 16px;
  min-height: 70px;
  color: #242424;
}

.price__btn--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px;
}

.product__price {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
}

.product__btn {
  margin-bottom: 24px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 24px;
  background-color: #d8d8d8;
  width: fit-content;
  border-radius: 16px;
  cursor: pointer;
  color: #242424;
}

@media screen and (max-width: 1170px) {
  .products {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .product {
    flex: 1 0 50%;
    max-width: calc(50% - 8px);
    margin-bottom: 24px;
  }

  .product__img {
    height: 480px;
  }
}

@media screen and (max-width: 770px) {
  .product__img {
    height: 380px;
  }
}

@media screen and (max-width: 605px) {
  .product {
    flex: 1 0 100%;
    max-width: calc(100% - 8px);
    margin-bottom: 24px;
  }

  .product__img {
    height: 480px;
  }
}

@media screen and (max-width: 430px) {
  .product__img {
    height: 380px;
  }

  .product__name {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 320px) {
  .product__img {
    height: 300px;
  }

  .price__btn--wrapper {
    flex-direction: column;
    align-items: start;
  }

  .product__btn {
    margin-left: 0;
  }
}
