.product-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.product-info__img {
  width: 450px;
  height: 450px;
  position: relative;
  border-radius: 32px;
  overflow: hidden;
}

.product-info__img img {
  width: 100%;
  height: 100%;
}

.product-info__details {
  width: 60%;
}

.product-info__title {
  width: 80%;
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 32px;
}

.product-info__price {
  font-size: 32px;
  font-weight: 600;
  color: #464646;
  margin-bottom: 32px;
  padding-bottom: 24px;
  border-bottom: 1px solid #2424247b;
}

.product-info__color {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 32px;
}

.product-info__color span {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

.product-info__description h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.product-info__description p {
  width: 85%;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.7;
  line-height: 1.5;
  margin-bottom: 32px;
}

.product-info__btn .product__btn {
  margin-left: 0;
}

#similar {
  padding-bottom: 80px;
  padding-inline: 16px;
}
