@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Wondershine";
  src: url("assets/fonts/Wondershine.otf") format("opentype"),
    url("assets/fonts/Wondershine.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

#categories,
#new,
#about,
#shop {
  padding: 80px 16px;
}

.section__title {
  font-size: 32px;
  font-family: "Wondershine", sans-serif;
  margin-bottom: 40px;
  position: relative;
}

.section__title::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: #242424;
  bottom: -8px;
  border-radius: 2px;
}
